{
  "rules": [
    {
      "regex": "android/support/v4/app/(.+)",
      "replace": "androidx/core/$1"
    },
    {
      "regex": "android/support/v4/content/(.+)",
      "replace": "androidx/core/content/$1"
    },
    {
      "regex": "android/support/v4/os/(.+)",
      "replace": "androidx/core/os/$1"
    }
  ]
} 